<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http:www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Inversor</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="agregarInversor">
            <div id="agregarInversor" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-secondary text-white">
                            <h5 class="modal-title">Agregar Inversor</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/guardarinv}" th:object="${inversor}" method="post" class="was-validated" >
                            <input type="hidden" name="com" th:field="${inversor.com==6}"/>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="direccion">Direccion</label>
                                    <input type="text" name="direccion" required="true" class="form-control" maxlength="44" oninput="limite(this);"></input>
                                </div>
                                <div class="form-group">
                                    <label for="codInmokey">Cod.Inmokey</label>
                                    <input type="text" name="codInmokey" class="form-control" maxlength="44" oninput="limite(this);"></input>
                                </div>
                                <div class="form-group">
                                    <label for="codMardel">Cod.Mardel</label>
                                    <input type="text" name="codMardel" class="form-control" maxlength="44" oninput="limite(this);"></input>
                                </div>
                                <div class="form-group">
                                    <label for="propietario">Propietario</label>
                                    <input type="text" name="propietario" required="true" class="form-control" maxlength="44" oninput="limite(this);"></input>
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input type="text" name="telefono" class="form-control" maxlength="44" oninput="limite(this);"></input>
                                </div>
                                <div class="form-group">
                                    <label for="valor">Valor</label>
                                    <input type="number" name="valor" class="form-control" maxlength="8" oninput="limite(this);"></input>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-dark" type="submit" th:text="Guardar"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
