<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado de Inversores</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoInversores" id="clientes" >
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-bg-12">
                        <div class="card">
                            <div class="card-header"> 
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <h4>Lista de Inversores</h4>
                                        </div>
                                        <div class="col col-md-offset-2 d-flex justify-content-between align-items-center">
                                            <button type="button" disabled="true"  class="btn" style="background-color: #BB8FCE">Comision 3%</button>
                                            <button type="button" disabled="true" class="btn" style="background-color: #d6d8db">Comision 6%</button>
                                            <button type="button" disabled="true" class="btn btn-warning">Particularidad</button>
                                            <a th:href="@{/exportarinversores}" type="button" class="btn btn-dark">Descargar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${inversores != null and !inversores.empty}">
                                <table class="table table table-bordered">
                                    <thead class="thead-dark">
                                        <tr align="center">
                                            <th>#</th>
                                            <th>Direccion</th>
                                            <th>Cod.Inmokey</th>
                                            <th>Cod.Mardel</th>
                                            <th>Propietario</th>
                                            <th>Telefono</th>
                                            <th>Valor</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="inversor,contador : ${inversores}" class="table-secondary" align="center">

                                        <tr th:if="${inversor.com==3}" style="background-color: #BB8FCE" >
                                            <div th:replace="layout/comisionInversores :: comisionInversores"></div>
                                        </tr>
                                        <tr th:if="${inversor.com==null or inversor.com==6}" >
                                            <div th:replace="layout/comisionInversores :: comisionInversores"></div>
                                        </tr>
                                        <tr th:if="${inversor.com==1}" class="bg-warning">
                                            <div th:replace="layout/comisionInversores :: comisionInversores"></div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
