<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Inversores</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="layout/botonesAgregarInversor :: botonesAgregarInversor"></section>

        <section th:replace="layout/agregarInversor :: agregarInversor"></section>

        <section th:replace="layout/listadoInversores :: listadoInversores"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>

        
    </body>
    <script>
            function limite(obj) {
                if (obj.value.length > obj.maxLength) {
                    obj.value = obj.value.slice(0, obj.maxLength);
                }

            }
       
    </script>
</html>
